body {
    font-family: lato;
    background-color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    background-image: url("../Images/ACES-036-Computing-Playstation-Lab-2.jpg");
    background-size: cover;
    background-position: center;
}
