body {
    background-image: url("../Images/20230829_111311.webp");
    background-size: cover;
    background-position: center;
    font-family: Lato;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

.Join-form-container {
    background-color: #ffffffac;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin: 20px auto;
}

.Join-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

textarea, input {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.gender-options {
   
    flex-wrap: wrap;
}

.gender-option {

    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 4px;
}

.gender-option:hover {
    background-color: #f0f0f0;
}

.contact-form-container {
    background-color: #ffffffa1;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin: 20px auto; 
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

textarea,input{

    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    margin-top: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #c4315d;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.7s;
}

.submit-button:hover {
    background-color: #0a0a0a;
}

